.productOverview {
  display: grid;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-shadow: 0px 0px 4px;
  grid-auto-columns: 120px;
  grid-auto-rows: auto;
  margin: 16px 16px 0px 0px;
}

.productOverview .title {
  font-weight: bold;
}

.productOverview .description {
  font-size: 0.8rem;
}


.productOverview > div {
  display: inline;
  padding: auto;
}

.productOverview .image > img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.productOverview .image {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: auto;
}

.productOverview .title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.productOverview .price {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}
.productOverview .description {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 10;
  min-height: 300px;
}

.productOverview .image > img {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 10;
}

