.toggleSwitch {
    --value: 0;
    --size: 18px;
    --thickness: 0px;
    --hue: 200;
    --bg: hsl(var(--hue),calc( var(--value) * 50%),calc( ( 1 - var(--value) / 2 )* 75% ));
    cursor: pointer;
    display: inline-block;
    height: var(--size) ;
    width: calc(var(--size)*2) ;
    background: var(--bg);
    border-radius: 20% / 50%;
    box-shadow: 0px 0px calc(var(--size) / 10) var(--bg) inset, 0px 0px calc(var(--size) / 4 ) var(--bg);
    margin: auto 8px;
    padding: 0;
    z-index: 10;
}

.toggleSwitch:before{
    content:"";
    display: inline-block;
    width: var(--size) ;
    height: var(--size) ;
    border: 1px solid hsl(var(--hue),calc( var(--value) * 10% ),20%);
    border-radius: 100%;
    z-index: 20;
    margin-top: -1px;
    margin-left: calc( var(--value) * var(--size) - 1px );
    transition: all 0.25s ease-out;
}



